<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/../styles/styles.css">

    <!-- Bookmark/Favorites Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="images/icon-48.png">
    <script src="../public/scripts/cart-script.js" defer></script>
</head>

<body>
    <header>
        <div class="flames-container">
            <div class="flames"></div>
            <h1>Truck Freaks Depot</h1>
        </div>


        <!-- NAVIGATION -->
        <!-- Should we put this before anything else, above flames (Will) -->
        <div class="navbar-container">
            <div class="navbar">
                <a href="index.html">Home</a>
                <a href="#">Login</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Pimp my Truck&trade;</a>
                <a href="#">Cart</a>
            </div>
        </div>
    </header>

    <main id="shopping-cart-main">
        <div class="body-text" id="cart-box">
            <h2>
                Shopping Cart
            </h2>

            <!-- Iterate over the cart_items table.  -->

            <% let grandSubtotal = 0; %>

            <% cart_items.forEach(item => { %>
                <% let subtotal = item.productPrice * item.itemQty; %>
                <% grandSubtotal += subtotal; %>
                <div class="cart-item">
                    <img src="<%= item.productImageURL %>" alt="<%= item.productName %>">
                    <div class="cart-item-info">
                        <h4 class="cart-item-name"><%= item.productName %></h4>
                        <p class="cart-item-price">$<%= item.productPrice.toFixed(2) %></p>
                    </div>
                    <div class="price-and-quantity">
                        <p class="cart-item-total">Subtotal: $<%= (item.productPrice * item.itemQty).toFixed(2) %></p>
                        <div class="quantity-box" data-cart-product-id="<%= item.cartProductID %>">
                            <input type="number" value="<%= item.itemQty %>">
                            <button class="update">Update Quantity</button>
                            <button class="delete">Delete</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    
        <% let taxRate = 0.0675; %>
        <% let tax = grandSubtotal * taxRate; %>
        <% let shipping = 15; %>
        <% let total = grandSubtotal + tax + shipping; %>
        <div id="checkout-box">
            <h3>Grand Subtotal: <span id="grand-subtotal">$<%= grandSubtotal.toFixed(2) %></span></h3>
            <h3>Tax: <span id="calculated-tax">$<%= tax.toFixed(2) %></span></h3>
            <h3>Shipping: $<%= shipping.toFixed(2) %></h3>
            <h3>Total: <span class="calculated-total">$<%= total.toFixed(2) %></span></h3>
            <button>Checkout</button>
        </div>
    </main>
    <!-- 
        Show 2 items in the cart
        Second item has quantity of 2
        
        Cart page needs:
        Small picutre
        Name
        Price
        A field to enter quantity
        A button to click after the quantity has been changed
        A button to remove the item from the cart

        Total price of all items in the cart
        We also need to show the price per group of items (so like 2 engine cleaners at $5 each show $10 next to the listing)

        Regarding the total: 
        Add 6.75% sales tax
        $15 delivery fee (we can probably make it more because ya know big ass truck parts)

        Checkout Button
     -->
    
    
     <footer>
        &copy; 2024 Truck Freaks Incorporated, U.S.A., All rights reserved.
        This site is cool and awesome, and you should buy stuff from it.
        Copying or reproduction of our design, ideas, or Original Characters is strictly prohibited.
    </footer>
</body>

</html>