<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="/../styles/styles.css">

    <!-- Bookmark/Favorites Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/icon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/icon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/../images/icon-48.png">
    <script src="/../public/scripts/details-script.js" defer></script>
</head>

<body>
    <main>
        <header>
            <div class="flames-container">
                <div class="flames"></div>
                <h1>Truck Freaks Depot</h1>
            </div>


            <!-- NAVIGATION -->
            <!-- Should we put this before anything else, above flames (Will) -->
            <div class="navbar-container">
                <div class="navbar">
                    <a href="/">Home</a>
                    <a href="/auth/google">Login</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="/products/all">Products</a>
                    <a href="#">Pimp my Truck&trade;</a>
                    <a href="/cart/all">Cart</a>
                </div>
            </div>

            <!-- <div class="sidebar-container">
                <div class="sidebar">
                    <div class="categories-search-bar">
                        <form action="/search" method="GET">
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <h2>Categories</h2>

                    <ul>
                        <li>
                            <a href="#">Body Mods</a>
                            <ul class="sub-categories">
                                <li><a href="#">Chains</a></li>
                                <li><a href="#">Widebody Kit</a></li>
                                <li><a href="#">Grill Guard</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Performance and Tuning</a>
                            <ul class="sub-categories">
                                <li><a href="#">Access Ports</a></li>
                                <li><a href="#">Tuning Maps</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Spikes</a>
                            <ul class="sub-categories">
                                <li><a href="#">Spiked Rims</a></li>
                                <li><a href="#">Spiked Spikes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                            <ul class="sub-categories">
                                <li><a href="#">Subcategory 1</a></li>
                                <li><a href="#">Subcategory 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Exhaust</a>
                            <ul class="sub-categories">
                                <li><a href="#">Upgraded Flame Exhause</a></li>
                                <li><a href="#">Louder Exhaust Upgrade</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Cabin</a>
                            <ul class="sub-categories">
                                <li><a href="#">Lights</a></li>
                                <li><a href="#">Nitro Canisters</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> -->
        </header>
        <h1>Product Details</h1>

        <div class="flex-container">
            <div class="flex-item-products">
                <div class="product">
                    <button id="add-to-cart" data-product-id="<%= product.productID %>">Add to Cart</button>
                    <img src="/public/images/<%= product.productImageURL %>" alt="chains0">
                    <div class="description">
                        <h3>
                            <%= product.productName %>
                        </h3>
                        <h3>$<%= product.productPrice.toFixed(2) %>
                        </h3>
                        <h3>
                            <%= product.productDescription %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>